<!doctype html>
<html class="no-js" lang="en">

<head lang="en">
  <title>Webz | Audio Editz</title>
  <!-- meta tags -->
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="//Write description here//">
  <meta name="keywords" content="//Write keywords here//">
  <meta charset="UTF-8">
  <meta name=”robots” content=”index,follow”>
  <!-- add information -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="//add-title//">
  <meta property="og:description" content="//add-description//">
  <meta property="og:url" content="//add-url//">
  <meta property="og:site_name" content="//add-name//">

  <meta name="twitter:title" content="//add-title//">
  <meta name="twitter:description" content="//add-description//">
  <meta name="twitter:site" content="//add-url//">
  <!-- add manifest when files ready -->
  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <!-- add manifest when files ready -->
  <!-- // -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- canonical link robots thingy -->
  <!-- // -->
  <!-- add canonical tag when domain ready -->
  <!-- <link rel="canonical”" href="//add-site//"> -->
  <!-- <link rel="shortlink" href="//add-site//"> -->
  <!-- add canonical tag when domain ready -->
  <!-- // -->
  <!-- canonical link robots thingy -->
  <!-- main.css -->
  <link rel='stylesheet' href='/dist/css/app.min.css'>
  <!-- main.css -->
  <!-- print.css -->
  <link rel="stylesheet" type="text/css" href="/dist/css/print.css" media="print" />
  <!-- print.css -->
  <meta name="theme-color" content="#fafafa">
</head>

<body data-barba="wrapper" id="Topz">
  <!-- Get to Code -->

  <div class="load-container">
    <div class="loading-screen"></div>
  </div>

  <main data-barba="container" data-barba-namespace="audio-editz-section">
    <!-- hidden-menu:start -->
    <div class="hidden-mobile-menu hide-dk show-phone">
      <header class="hmm-header">
        <a href="/views/home.html#Topz">
          <h2 class="hmm-brandz video-editz-home">qw.</h2>
        </a>
        <!-- mobile-btn:start -->
        <div class="emh-mobile-menu-btn-reverse hide-dk show-phone wow fadeInUp" data-wow-delay="5.2s" id="menuButton">
          <div class="menu-line-one-closer"></div>
          <div class="menu-line-two-closer"></div>
        </div>
        <!-- mobile-btn:end -->
      </header>
      <nav>
        <ul class="hmm-ul">
          <a href="/views/home.html">
            <p class="home-reverse graphicz-home">
              <span class="hmm-li">HOME</span>
            </p>
          </a>
          <a href="/views/portfolio.html">
            <p>
              <span class="hmm-li">PORTFOLIO</span>
            </p>
          </a>
          <a href="/views/about.html#Topz">
            <p class="home-reverse">
              <span class="hmm-li">ABOUT</span>
            </p>
          </a>
          <a href="/views/contact.html">
            <p>
              <span class="hmm-li">CONTACT</span>
            </p>
          </a>
        </ul>
      </nav>
    </div>
    <!-- hidden-menu:end -->
    <!-- header:start -->
    <header class="el-main-header">
      <a href="/views/home.html#Topz">
        <h1 class="el-brand wow fadeInUp graphicz-home" data-wow-delay="4.7s"><span class="color-change">Itz</span>Quality Co.</h1>
      </a>
      <nav>
        <ul class="ehs-ul">
          <li class="ehs-list-item wow fadeInUp" data-wow-delay="5.2s">Portfolio</li>
          <li class="ehs-list-item wow fadeInUp" data-wow-delay="5.4s">About</li>
          <li class="ehs-list-item wow fadeInUp" data-wow-delay="5.6s">Contact</li>
        </ul>
      </nav>
      <!-- mobile-btn:start -->
      <div class="emh-mobile-menu-btn hide-dk show-phone wow fadeInUp" data-wow-delay="5.2s" id="menuButton">
        <div class="menu-line-one"></div>
        <div class="menu-line-two"></div>
        <!-- <div class="menu-line-three"></div> -->
      </div>
      <!-- mobile-btn:end -->
    </header>
    <!-- header:end -->
    <!-- transitionFx:start -->
    <div class="transition-fx"></div>
    <!-- transitionFx:end -->

    <!-- audio-editz-content-here -->

    <!-- hero-section:start -->
    <div class="ae-hero-section ahs-anim" data-wow-delay="1s">
      <div class="aehs-ct-box acb-anim"></div>
    </div>
    <!-- hero-section:end -->

    <section class="section-uno">
      <p>SectionZ</p>
    </section>

    <section class="section-dos">
      <a href="/views/home.html#Topz">
        <p class="go-home">GoBackToHome</p>
      </a>
    </section>

    <section class="section-tres">
      <p>SectionZ</p>
    </section>

    <!-- no-code-below -->
    <div class="invisible-annoying-error-killer">
      <div class="el-hero-section"></div>
    </div>
    <!-- main-section:end -->
  </main>

  <!-- Modernizr -->
  <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
  <!-- Jquery -->
  <script s/rc="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <!-- Gsap/TweenMax/Barba -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://unpkg.com/@barba/core"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <!-- Parallax -->
  <script src="/js/vendor/rellax.min.js"></script>
  <!-- Smooth scrolling:goTo -->
  <script src="/js/vendor/smooth-scroll.polyfills.js"></script>
  <!-- Animations -->
  <script src="/js/vendor/bg-changer.js"></script>
  <script src="/js/vendor/wow.min.js"></script>
  <script src="/js/vendor/transition.js"></script>
  <script src="/js/vendor/on-scroll-anim.js"></script>


  <!-- Main -->
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
