<!doctype html>
<html class="no-js" lang="en">
  <head lang="en">
    <title>Quality Webz | Web Development | Graphic Design | Photo and Video Editing | Music Production Co.</title>
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name ="description" content="//Write description here//">
    <meta name ="keywords" content ="//Write keywords here//">
    <meta charset="UTF-8">
    <meta name=”robots” content=”index,follow”>
    <!-- add information -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="//add-title//">
    <meta property="og:description" content="//add-description//">
    <meta property="og:url" content="//add-url//">
    <meta property="og:site_name" content="//add-name//">

    <meta name="twitter:title" content="//add-title//">
    <meta name="twitter:description" content="//add-description//">
    <meta name="twitter:site" content="//add-url//">
    <!-- add manifest when files ready -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- add manifest when files ready -->
    <!-- // -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- canonical link robots thingy -->
    <!-- // -->
    <!-- add canonical tag when domain ready -->
    <!-- <link rel="canonical”" href="//add-site//"> -->
    <!-- <link rel="shortlink" href="//add-site//"> -->
    <!-- add canonical tag when domain ready -->
    <!-- // -->
    <!-- canonical link robots thingy -->
    <!-- main.css -->
    <link rel='stylesheet' href='/dist/css/app.min.css'>
    <!-- main.css -->
    <!-- print.css -->
    <!-- <link rel="stylesheet" type="text/css" href="/dist/css/print.css" media="print" /> -->
    <!-- print.css -->
    <meta name="theme-color" content="#fafafa">
  </head>
  <body data-barba="wrapper" id="Topz">
    <!-- Get to Code -->

    <div class="load-container">
      <div class="loading-screen"></div>
    </div>

    <main data-barba="container" data-barba-namespace="home-section">
      <!-- arrow-up:start -->
      <div class="arrow-up-box">
        <a class="color-change" data-easing="easeInOutQuart" href="#Topz">
          <ion-icon name="arrow-up-outline"></ion-icon>
        </a>
      </div>
      <!-- arrow-up:end -->

      <!-- ehs-transition-effect-box:start -->
      <div class="ehs-transition-effect-box"></div>
      <!-- ehs-transition-effect-box:end -->

      <!-- hidden-menu:start -->
      <div class="hidden-mobile-menu hide-dk show-phone">
        <header class="hmm-header">
          <h2 class="hmm-brandz">qw.</h2>
          <!-- <h2 class="hmm-menu-closer">X</h2> -->

          <!-- mobile-btn:start -->
          <div class="emh-mobile-menu-btn-reverse hide-dk show-phone wow fadeInUp" data-wow-delay="5.2s" id="menuButton">
            <div class="menu-line-one-closer"></div>
            <div class="menu-line-two-closer"></div>
          </div>
          <!-- mobile-btn:end -->

        </header>
        <nav>
          <ul class="hmm-ul">
            <a href="/views/home.html">
              <p class="home-reverse">
                <span class="hmm-li">HOME</span>
              </p>
            </a>
            <a href="/views/portfolio.html">
              <p>
                <span class="hmm-li">PORTFOLIO</span>
              </p>
            </a>
            <a href="/views/about.html">
              <p class=" page-reverse">
                <span class="hmm-li">ABOUT</span>
              </p>
            </a>
            <a href="/views/contact.html">
              <p>
                <span class="hmm-li">CONTACT</span>
              </p>
            </a>
          </ul>
        </nav>
      </div>
      <!-- hidden-menu:end -->

      <!-- preloader:start -->
      <div class="intro-one">
        <svg class="svg-light" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0"
          xml:space="preserve">
          <rect x="20" y="50" width="4" height="10" fill="#ffffff">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0"
              dur="0.8s" repeatCount="indefinite" />
          </rect>
          <rect x="30" y="50" width="4" height="10" fill="#ffffff">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.4s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="40" y="50" width="4" height="10" fill="#ffffff">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.6s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>

      <div class="intro-two">
        <p class="hide">
          <span class="intro-two-title">IT'Z</span>
        </p>
        <p class="hide">
          <span class="intro-two-title">QUALITY CO.</span>
        </p>
      </div>

      <div class="intro-three">
        <svg class="svg-dark" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0"
          xml:space="preserve">
          <rect x="20" y="50" width="4" height="10" fill="#ffffff">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0"
              dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="30" y="50" width="4" height="10" fill="#ffffff">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.2s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="40" y="50" width="4" height="10" fill="#ffffff">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.4s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
      <!-- preloader:end -->

      <!-- el-header:start -->
      <header class="el-main-header">
        <a href="/views/home.html">
          <h1 class="el-brand wow fadeInUp" data-wow-delay="4.7s"><span class="color-change">It'z</span>Quality Co.</h1>
        </a>

        <nav>
          <ul class="ehs-ul">
            <a class="ehs-list-item wow fadeInUp" data-wow-delay="4.9s" href="/views/portfolio.html">
              <li>Portfolio</li>
            </a>
            <a class="ehs-list-item wow fadeInUp" data-wow-delay="5.1s" href="#">
              <li>About</li>
            </a>
            <a class="ehs-list-item wow fadeInUp" data-wow-delay="5.3s" href="/views/contact.html">
              <li>Contact</li>
            </a>
          </ul>
        </nav>

        <!-- mobile-btn:start -->
        <div class="emh-mobile-menu-btn hide-dk show-phone wow fadeInUp" data-wow-delay="5.5s" id="menuButton">
          <div class="menu-line-one"></div>
          <div class="menu-line-two"></div>
        </div>
        <!-- mobile-btn:end -->

      </header>
      <!-- el-header:end -->

      <!-- el-hero-section:start -->
      <section class="el-hero-section rellax ehs-bg-anim" data-rellax-speed="-5">

        <div class="ehs-left-absolute-bar wow fadeInUp" data-wow-delay="8s">
            <a data-easing="easeInOutQuart" href="#portfolioSection">
            <div class="scroll-downs">
              <div class="mousey">
                <div class="scroller"></div>
              </div>
            </div>
          </a>
        </div>

        <div class="ehs-left-right-container">

          <div class="ehs-nav-bar">
            <p class="ehs-tagline v-hide">Web, UI/UX,
              <span class="color-change">Developer</span>
            </p>
              <nav>
                <ul class="ehs-ul">
                  <li class="ehs-icon wow fadeInUp" data-wow-delay="6s">
                    <a href="https://www.facebook.com/profile.php?id=100056186373041" target="_blank">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>
                  <li class="ehs-icon wow fadeInUp" data-wow-delay="6.2s">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </li>
                  <li class="ehs-icon wow fadeInUp" data-wow-delay="6.4s">
                    <ion-icon name="logo-youtube"></ion-icon>
                  </li>
                </ul>
              </nav>
          </div>

          <div class="ehs-ct-bx">
            <div class="ehs-left-box ehs-left-box-anim">
              <div class="diamond-shape-box dsb-anim"></div>
              <div class="dsb-center-txt-box">
                <div class="dsb-txt-ct-box">
                  <h1 class="hide">
                    <span class="dsb-txt-appear">Web UI/UX</span>
                  </h1>
                  <h1 class="hide">
                    <span class="dsb-txt-appear">Developer</span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- el-hero-section:end -->

      <!-- who-we-are:start -->
      <section class="who-we-are-section">
        <div class="wwas-left-box" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
        <div class="wwas-right-box">
          <div class="inner-wrb-anim-box"></div>
          <div class="wrb-ct-box">
            <p class="hide">
              <span class="wrb-title">I Develop</span>
            </p>
            <p class="hide">
              <span class="wrb-txt">
                Clean, modern, beautiful & unique websites. I will write code that is easy to maintain and update with good SEO practices for modern search engine friendliness. I can also use external platforms to
                create your project, like WordPress, as I can start it from scratch by writing the code as you wish.
                I work on static pages, informative pages, landing pages, online portfolios, online resumes, online stores and more.
              </span>
            </p>
            <p class="hide">
              <span class="wrb-btn">Contact Me _</span>
            </p>
          </div>
        </div>
      </section>
      <!-- who-we-are:end -->

      <!-- first-section-second-layout-design:start -->
      <section class="portfolio-section efs-anim" id="portfolioSection">
        <!-- <div class="projectz-container"> -->

          <!-- project-one -->
          <section class="project-one-box show-dk hide-tab-port">
            <div class="pob-left-box">
              <div class="plb-ct-box">
                <h3 class="plb-title wow fadeInUp" data-wow-delay=".2s">I Graphic Dezigns</h3>
                <p class="plb-txt wow fadeInUp" data-wow-delay=".4s">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel adipisci accusantium modi, harum quae libero facilis cupiditate quia rerum officia consectetur! Unde fugit iure exercitationem quia tempora aliquam repellendus.
                </p>
                <a href="/views/graphicz.html">
                  <button class="plb-btn wow fadeInUp" data-wow-delay=".6s">LEARN MORE _</button>
                </a>
              </div>
            </div>
            <div class="pob-ct-box">
              <div class="pob-right-box rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
            </div>
          </section>
          <!-- project-one-mobile -->
          <section class="project-one-box hide-dk show-tab-port">
            <div class="pob-ct-box">
              <div class="pob-right-box rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
            </div>

            <div class="pob-left-box">
              <div class="plb-ct-box">
                <h3 class="plb-title wow fadeInUp" data-wow-delay=".2s">I Graphic Dezigns</h3>
                <p class="plb-txt wow fadeInUp" data-wow-delay=".4s">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel adipisci accusantium modi, harum quae libero facilis cupiditate quia rerum officia consectetur! Unde fugit iure exercitationem quia tempora aliquam repellendus.
                </p>
                <a href="/views/graphicz.html">
                  <button class="plb-btn wow fadeInUp" data-wow-delay=".6s">LEARN MORE _</button>
                </a>
              </div>
            </div>
          </section>
          <!-- projects-two -->
          <section class="project-two-box">
            <div class="ptwo-ct-box">
              <div class="ptb-left-box rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
            </div>

            <div class="ptb-right-box">
              <div class="ptb-ct-box">
                <h3 class="ptb-title wow fadeInUp" data-wow-delay=".2s">I Video Edits</h3>
                <p class="ptb-txt wow fadeInUp" data-wow-delay=".4s">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel adipisci accusantium modi, harum quae libero
                  facilis cupiditate quia rerum officia consectetur! Unde fugit iure exercitationem quia tempora aliquam
                  repellendus.
                </p>
                <button class="ptb-btn wow fadeInUp" data-wow-delay=".6s">COMING SOON _</button>
              </div>
            </div>
          </section>
          <!-- project-three -->
          <section class="project-three-box show-dk hide-tab-port">
            <div class="p-th-b-left-box">
              <div class="p-th-b-ct-box">
                <h3 class="p-th-b-title wow fadeInUp" data-wow-delay=".2s">I Photo Edits</h3>
                <p class="p-th-b-txt wow fadeInUp" data-wow-delay=".4s">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel adipisci accusantium modi, harum quae libero
                  facilis cupiditate quia rerum officia consectetur! Unde fugit iure exercitationem quia tempora aliquam
                  repellendus.
                </p>
                <button class="p-th-b-btn wow fadeInUp" data-wow-delay=".6s">LEARN MORE _</button>
              </div>
            </div>

            <div class="p-three-ct-box">
              <div class="p-th-b-right-box rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
            </div>
          </section>
          <!-- project-three-mobile -->
          <section class="project-three-box hide-dk show-tab-port">
            <div class="p-three-ct-box">
              <div class="p-th-b-right-box rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
            </div>

            <div class="p-th-b-left-box">
              <div class="p-th-b-ct-box">
                <h3 class="p-th-b-title wow fadeInUp" data-wow-delay=".2s">I Photo Edits</h3>
                <p class="p-th-b-txt wow fadeInUp" data-wow-delay=".4s">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel adipisci accusantium modi, harum quae libero
                  facilis cupiditate quia rerum officia consectetur! Unde fugit iure exercitationem quia tempora aliquam
                  repellendus.
                </p>
                <button class="p-th-b-btn wow fadeInUp" data-wow-delay=".6s">LEARN MORE _</button>
              </div>
            </div>
          </section>
          <!-- project-four -->
          <section class="project-four-box">

            <div class="pfour-ct-box">
              <div class="pfb-left-box rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
            </div>

            <div class="pfb-right-box">
              <div class="pfb-ct-box">
                <h3 class="pfb-title wow fadeInUp" data-wow-delay=".2s">I Audio Edits</h3>
                <p class="pfb-txt wow fadeInUp" data-wow-delay=".4s">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel adipisci accusantium modi, harum quae libero
                  facilis cupiditate quia rerum officia consectetur! Unde fugit iure exercitationem quia tempora aliquam
                  repellendus.
                </p>
                <button class="pfb-btn wow fadeInUp" data-wow-delay=".6s">COMING SOON _</button>
              </div>
            </div>
          </section>

        <!-- </div> -->
      </section>
      <!-- first-section-second-layout-design:end -->


      <!-- el-divider:start -->
      <div class="el-divider rellax" data-rellax-speed="-3" data-rellax-percentage="0.5">

        <!-- <div class="ed-absolute-bottom-clip"></div> -->
      </div>
      <!-- el-divider:end -->


      <!-- el-main-footer:start -->

      <footer class="el-main-footer">
        <p class="emf-txt">FOOTER</p>
      </footer>
      <!-- el-main-footer:end -->

        <!-- no-code-below -->
        <div class="invisible-annoying-error-killer">
          <div class="invisible-annoying-error-killer">
            <div class="section-uno"></div>
            <div class="section-dos"></div>
            <div class="section-tres"></div>
          </div>
        </div>
      <!-- main-section:end -->
    </main>

    <!-- Modernizr -->
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-bez@1.0.11/src/jquery.bez.js"></script>
    <script src="/js/vendor/jquery-3.4.1.min.js"></script>
    <!-- Gsap/TweenMax/Barba -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>
    <!-- Parallax -->
    <script src="/js/vendor/rellax.min.js"></script>
    <!-- Smooth scrolling:goTo -->
    <script src="/js/vendor/smooth-scroll.polyfills.js"></script>
    <!-- Animations -->
    <script src="/js/vendor/on-scroll-anim.js"></script>
    <script src="/js/vendor/wow.min.js"></script>
    <script src="/js/vendor/transition.js"></script>
    <script src="/js/vendor/intro-anim.js"></script>
    <script src="/js/vendor/horizontal-scroll.js"></script>

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <!-- Main -->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
