.ahs-il-txt{
  @include typo(3em, $white, 400);
  line-height: 1.3em;
  font-style: normal;
}
.smaller-ui-txt{
  @include typo(4em, $white, 400);
}
.small-ui-txt{
  @include typo(1.5em, $tertiary-color, 300);
  margin-top: .3em;
  margin-left: .2em;
}
