//hero-section
.dsb-txt-appear{
  @include typo(7em, $white, 300);
  font-family: $lust;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1em;
  @include responsive(tab-land){
    @include typo(5em, $white, 700);
  }
  @include responsive(tab-port){
    @include typo(4.5em, $white, 700);
  }
  @include responsive(phone){
    @include typo(2.5em, $white, 700);
  }
}

.ehs-tagline{
  @include typo(1em, $white, 400);
  margin-left: 35em;
  @include responsive(tab-land){
    margin-left: 22em;
    margin-top: 14em;
  }
  @include responsive(tab-port){
    margin-left: 9em;
    margin-top: 14em;
  }
  @include responsive(phone){
    @include typo(.9em, $white, 300);
    margin-left: -3.9em;
    left: 0;
    margin-top: 15em;
    transform: rotate(90deg);
  }
}

//header
.el-brand{
  @include typo(2em, $white, 700);
  font-family: $neuro;
}

//first-section
.efs-txt{
  @include typo(3em, $white, 400);
  font-family: $neuro;
}

//random-text-code
.color-change{
  @include typo(null, $tertiary-color, 500);
}

.hmm-ul{
  padding: 1em;
  position: absolute;
  width: 90%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .hmm-li{
    text-align: center;
    @include typo(2em, $white, 900);
    margin-top: .7em;
    font-family: $neuro;
  }
}

//hidden-menu
.hmm-brandz{
  @include typo(3em, $white, 600);
  font-family: $neuro;
}

//who-we-are
.wrb-title{
  @include typo(2em, $white, 600);
  // font-family: $neuro;
  // margin-bottom: .5em;
  font-family: $lust;
}

.wrb-txt{
  @include typo(.9em, $white, 300);
}

.wrb-btn{
  @include typo(1em, $white, 300);
  // padding: .5em 2em;
  // border: 1px solid $white;
  font-family: $neuro;
  margin-top: 1em;
  transition: background .3s ease-in-out;
  transition: color .3s ease-in-out;
  &:hover{
    // background: $white;
    color: #1f1f1f;
    cursor: pointer;
  }
}

//portfolio-section
.p1-title{
  @include typo(3em, $white, 600);
  margin-top: -4em;
}

//el-main-footer
.emf-txt{
  @include typo(3em, $white, 300);
  font-family: $neuro;
  @include responsive(phone){
    @include typo(2em, $white, 300);
  }
}
