// @include edit();
//header
.el-main-header{
  @include col(4/4); margin-right: 0;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; left: 0;
  z-index: 500;
  transition: background .3s ease-in-out;
  @include responsive(phone){
    padding: 1em;
  }
}

//who-we-are
.who-we-are-section{
  @include col(4/4); margin-right: 0;
  clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 97%);
  height: 45em;
  background: $white;
}

//el-first-section-sl
.portfolio-section{
  @include col(4/4); margin-right: 0;
  clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 97%);
  padding: 10em 0 7em 0;
  background: $darko;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: 0;
  @include responsive(phone){
    margin-top: -3.5em;
    padding: 12em 0 9em 0;
  }
  .projectz-container{
    @include col(4/4);
    // background: #252629;
  }
}

//el-divider
.el-divider{
  @include col(4/4); margin-right: 0;
  height: 60em;
  background: url(/resources/img/projectz/divider.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-top: -20em;
  background-color: #17191c;
  background-blend-mode: color-dodge;
}

//el-main-footer
.el-main-footer{
  clip-path: polygon(51% 3%, 100% 0, 100% 88%, 75% 100%, 0 100%, 0% 60%, 0 7%);
  @include col(4/4); margin-right: 0;
  height: 40em;
  background: $tertiary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

